<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-md-8">
    <h3>{{user.name}}</h3>
    <h4>{{user.email}}</h4>
    <h6>{{commentCount}}已評論餐廳</h6>
    <br />
    <br />
    <br />
    <br />
    {{#if isUserSelf}}
    <a class="btn btn-primary" href="/users/{{user.id}}/edit">
      Edit
    </a>
    {{/if}}
  </div>
  <hr>
</div>
<br />
<br />

<h6>{{commentCount}}已評論餐廳</h6>
<div class="row">
  {{#each comment}}
  <div class="col-md-1">
    <a href="/restaurants/{{this.RestaurantId}}">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="{{this.Restaurant.image}}" alt="Card image cap" width="80px" height="60px">
      </div>
    </a>
  </div>
  {{/each}}
</div>
<br />
<br />